.landingPage{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  border: 3px solid black;
  padding: 20px;
  h1, h3 {
    display: flex;
    justify-content: center;
  }
  .confirm{
    display: flex;
  }
  button {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .yes{
    background-color: #59ac3e;
  }
  .no{
    background-color: #bf2424
  }
  img{
    width: 200px;
  }
  .nidoran{
    display: flex;
    justify-content: center;
  }
};





.battlefield{
  width: 80%;
  margin: 0 auto;
  h1{
    display: flex;
    justify-content: center;
  }
  h4{
    font-family: Fondamento,cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
.battle{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box {
  width: 300px;
}
article{
  margin: 10px;
}

.box img, .showMatch {
  width: 200px;
}


.showMatch {
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;

  img {
   width: 200px;
 }

}
.attackerSlot{
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  width: 35%;
  img{
    margin: 0 auto;
  }
  .attackerHealth{
    margin: 0 auto;
  }
}
.defenderSlot{
  border-bottom: 1px solid lightgray;
  width: 35%;
  display: flex;
  align-self: flex-end;
  flex-direction: column-reverse;
  img{
    margin: 0 auto;
  }
  .defenderHealth{
    margin: 0 auto;
  }
}
.buttons{
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  button{

    width: 150px;
    margin: 5px;

  }
}

.battleLog{
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.adventure{
  background-color: #aeb7cd;
  height: 500px;
}
.block {
  position: absolute;
  background-color: #abc;
  left: 100px;
  top: 100px;
  width: 90px;
  height: 90px;
  margin: 5px;
}






.hidden {
  display: none;
}
